.ipynb_checkpoints/*
nohup.out
Untitled (conflicted copy 2025-12-25 213239).ipynb
Untitled.ipynb
Learning.ipynb
WinkelJax.ipynb
WinkelFürExp_ix.ipynb
results/*
notes.ipynb
thinking/*
*.npy
TryKlassischMC.ipynb
PennylaneVersion_tests.ipynb
