.ipynb_checkpoints/Hubbard_LCU_tests-checkpoint.ipynb
nohup.out
Untitled (conflicted copy 2025-12-25 213239).ipynb
Untitled.ipynb
.ipynb_checkpoints/Learning-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Learning.ipynb
WinkelJax.ipynb
WinkelFürExp_ix.ipynb
